{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": true,
  "jsxSingleQuote": true,
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "semi": false,
        "singleAttributePerLine": false,
        "trailingComma": "all",
        "bracketSameLine": true
      }
    }
  ]
}